<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
        <clear />
		<add key="public" value="https://api.nuget.org/v3/index.json" />
        <add key="unik.saas.components" value="https://pkgs.dev.azure.com/uniksystemdesign/62c68d3c-ba53-41cd-9c35-cbf73647e95c/_packaging/unik.saas.components/nuget/v3/index.json" />
	</packageSources>
</configuration>